.odd {
    background-color: rgb(255, 192, 203); 
    font-family: Verdana, "DejaVu Sans", sans-serif;
}
#two {
    color: rgb(0, 100, 255);
    font-size: 36px;
}
#three {font-size: 24px;
}
#four {
    background-color: rgb(145, 238, 145, 40);
    font-size: 24px;
    font-weight: 700;
}